# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for data Science
* Libraries used by Data Scientists
* Table list of Data Science Tools
* Examples of arithmetic expressions in python

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras
7. PyTorch
8. Tensorflow

| Data Science Tools |
| -------------------|
| MySQL|
| Apache Airflow |
| Git |

### Below are a few examples of evaluating arithmetic expressions in Python
* 2+2
* 3.5*2.5
* 8-4

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes //60
print(f"minutes {minutes} into {hours} hours")

minutes 200 into 3 hours

## Author
Giselle E. Garcia San Juan